<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhsj.dao.SymptomDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="selectAll" resultType="Symptom">
		SELECT
			﻿Symptom_id,
			S_Bodypart,
			S_Description
		FROM
			symptom
	</select>

    <select id="selectByBodypart" resultType="Symptom" parameterType="String">
		SELECT
			﻿Symptom_id,
			S_Bodypart,
			S_Description
		FROM
			symptom
		where S_Bodypart = #{bodypart}
	</select>

	<select id="selectById" resultType="Symptom" parameterType="String">
		SELECT*
		FROM
			symptom
		where Symptom_id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="String">
	    DELETE
	    FROM symptom
	    where Symptom_id = #{id}
	</delete>

	<insert id="insert">
    insert into symptom (Symptom_id, S_BodyPart, S_Description)
    values (#{id}, #{bodypart}, #{description})
    </insert>

	<update id="updateByPrimaryKey">
    update symptom
    set
    S_Bodypart = #{bodypart},
    S_Description = #{description}
    where Symptom_id = #{id}
    </update>

	<select id="selectUserByName" resultType="String">
	SELECT User_id FROM user where U_Name = #{name}
	</select>
</mapper>